/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
    font-family: Sanchez;

}

html {
		/* Standard text-settings below */
	font-size: 1em;
    color: darkslateblue;
    line-height: 2em;
    text-align: left;
        background: url('../img/AdobeStock_819854429.jpeg')600%;
                
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
}


h1{
color: goldenrod;
padding: 10px;
padding-top: 60px;
}


main{
    margin: auto;  
    padding: 10px;
}


#container2{

background: rgba(255, 244, 242,75%);
width: 80%;
padding: 10px;
padding-top: 30px;
position: inherit;
margin:auto;
	
}

footer{
    
padding: 10px;
}


img{
display: block;
width: 100%;
margin: auto;
}

figcaption {
    
    font-size: 0.5em;
}



ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:scroll;
  background-color: lavender;
}


li{
    
    float:left;}

li a {
  display: block;
  color: rebeccapurple;
  padding: 16px 8px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: sandybrown;
  color: purple;
}

footer{
    
    color: aliceblue;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    
#container2{
margin: auto;
width: 75%;
        
    }

	h1{
color: goldenrod;
padding: 10px;
padding-top: 10px;
}
    
       
img{
    width:75%;
    margin:auto;}   

/* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {

	img{
    width:50%;
    margin:auto;
    } 
    

	
} /* closes 1024px+ */