/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
    background: #364785;
}




body {

	
}



#container {
    position: relative;
    width:800px;
    height: 750px;
    max-width: 800px;                 
    margin: auto;
    padding: 20px;
}


span.aries{
    font-size: 5em;
    position: absolute;
    left: 50px;
    bottom: 650px;
    transition: all .5s;
    
}

span.arieshorns{
    font-size: 1em;
    color: #ebce96;
    position: absolute;
    left: 90px;
    bottom: 680px;
    opacity: 0%;
    transition: all .5s;
    
}

#one:hover .aries {
      transform: scale(1.25);
    opacity:1;
    transition: all .5s;
    
}

#one:hover .arieshorns {
    opacity:100%;
    transform: scale(6);
    transition: all .5s;
}



span.taurus{
    font-size: 5em;
    position: absolute;
    left: 350px;
    bottom: 650px;
    transition: all .5s;
    
}

span.taurushorn1{
    font-size: 1em;
    color: #ebce96;
    position: absolute;
    left: 450px;
    bottom: 675px;
    opacity: 0%;
    transition: all .5s;
    
    

    
}

span.taurushorn2{
    font-size: 1em;
    color: #ebce96;
    position: absolute;
    left: 350px;
    bottom: 675px;
    opacity: 0%;
    transition: all .5s;
    

    
}

#two:hover .taurus {
    transform: scale(1.25);
    transition: all .5s;
    
}

#two:hover .taurushorn1 {
    opacity:100%;
    transform: scale(6) rotate(-90deg);
    transition: all .5s;
}

#two:hover .taurushorn2 {
    opacity:100%;
    transform: scale(6) rotate(90deg);
    transition: all .5s;
}



span.gemini{    
    font-size: 5em;
    position: absolute;
    left: 650px;
    bottom: 650px;
    opacity: 55%;
    transition: all .5s;
    

}

span.geminitwin{
    font-size: 5em;
    position: absolute;
    left: 650px;
    bottom: 650px;
    transition: all .5s;
    
    
}

#three:hover .gemini {
    left:625px;
    transform: scale(1.25) rotate(-45deg);
    transition: all .5s;
    
}

#three:hover .geminitwin {
    left:675px;
    transform: scale(1.25) rotate(45deg);
    transition: all .5s;
}




span.cancer{
    font-size: 5em;
    position: absolute;
    left: 50px;
    bottom: 450px;
    transition: all .5s;
    
}

span.cancerarm1{
    font-size: 5em;
    color:#ff7433;
    position: absolute;
    left: 50px;
    bottom: 470px;
    transform: rotate(-60deg);
    opacity:0%;
    transition: all .5s;
}

span.cancerclaw1{
      width: 0px;
      height: 0px;
      border-right: 20px solid transparent;
      border-top: 20px solid #ff7433;
      border-left: 20px solid #ff7433;
      border-bottom: 20px solid #ff7433;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      position: absolute;
      left: 25px;
      bottom: 475px;
      transform: rotate(-45deg);
      opacity:0%;
    transition: all .5s;
      
    
    
}

span.cancerarm2{
    font-size: 5em;
    color:#ff7433;
    position: absolute;
    left: 150px;
    bottom: 470px;
    transform: rotate(60deg);
    opacity:0%;
    transition: all .5s;
    
}

span.cancerclaw2{
      width: 0px;
      height: 0px;
      border-right: 20px solid #ff7433;
      border-top: 20px solid #ff7433;
      border-left: 20px solid transparent;
      border-bottom: 20px solid #ff7433;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      position: absolute;
      left: 150px;
      bottom: 475px;
      transform: rotate(45deg);
      opacity:0%;
    transition: all .5s;
}

#four:hover .cancer {
    transform: scale(1.25);
    transition: all .5s;
    
}

#four:hover .cancerarm1 {
    opacity: 100%;
    left: 10px;
    font-size:4em;
    transform: scale(1.25);
    transition: all .5s;
}

#four:hover .cancerclaw1 {
    opacity: 100%;
    left:15px;
    transform: scale(1.25);
    transition: all .5s;
}

#four:hover .cancerarm2 {
    opacity: 100%;
    left: 185px;
    font-size:4em;
    transform: scale(1.25);
    transition: all .5s;
}

#four:hover .cancerclaw2 {
    opacity: 100%;
    left:160px;
    transform: scale(1.25);
    transition: all .5s;
}



span.leo{
    font-size: 5em;
    position: absolute;
    left: 350px;
    bottom: 450px;    
    transition: all .5s;
    
}

span.leoear1{
  width: 10px;
  height: 10px;
  background: #e6c865;
  border-radius: 50%;
 position: absolute;
  left: 370px;
  bottom: 490px;
  opacity: 0%;
    transition: all .5s;
    
    
}
    
span.leoear2{
  width: 10px;
  height: 10px;
  background: #e6c865;
  border-radius: 50%;
 position: absolute;
  left: 430px;
  bottom: 490px;
  opacity: 0%;
    transition: all .5s;
    
}

span.leomane{
      background: #faa30c;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 400px;
      bottom: 460px;
      text-align: center;
    transition: all .5s;
    
    }
    span.leomane:before,
   span.leomane:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      width: 10px;
      background: #faa30c;
    }
    span.leomane:before {
      transform: rotate(30deg);
    }
    span.leomane:after {
      transform: rotate(60deg);
    }

#five:hover .leo {
    transform: scale(1.25);
    transition: all .5s;
    
}

#five:hover .leoear1 {
    transform: scale(4);
    left:350px;
    bottom:490;
    transition: all .5s;
    opacity: 100%;
    
}

#five:hover .leoear2 {
    transform: scale(4);
    left:450px;
    bottom:490;
    transition: all .5s;
    opacity: 100%;
    
}

#five:hover .leomane {
    transform: scale(14);
    transition: all .5s;
    opacity: 100%;
}



span.heart{
    font-size: 4em;
    color:#f5426c;
    position: absolute;
    left: 750px;
    bottom: 500px;
    opacity:0%;
    transform: rotate(-20deg);
    transition: all .5s;
    
}

span.heart2{
    font-size: 3em;
    color:#f5426c;
    position: absolute;
    left: 760px;
    bottom: 390px;
    opacity:0%;
    transform: rotate(20deg);
    transition: all .5s;
    
}

span.heart3{
    font-size: 2em;
    color:#f5426c;
    position: absolute;
    left: 625px;
    bottom: 450px;
    opacity:0%;
    transform: rotate(-20deg);
    transition: all .5s;
    
}

span.virgo{
    font-size: 5em;
    position: absolute;
    left: 650px;
    bottom: 450px;    
    transition: all .5s;
    
}

#six:hover .virgo {
    transform: scale(1.25);
    transition: all .5s;
    
}

#six:hover .heart {
    opacity: 100%;
    bottom: 520px;
    transform: rotate(-25deg);
    transition: all .5s;
}

#six:hover .heart2 {
    opacity: 100%;
    bottom: 400px;
    transform: rotate(20deg);
    transition: all .5s;
}

#six:hover .heart3 {
    opacity: 100%;
    bottom: 470px;
    transform: rotate(20deg);
    transition: all .5s;
}



span.string{
    font-size: 5em;
    color:#e6c363;
    position: absolute;
    left: 10px;
    bottom: 310px;
    opacity: 0%;
    transition: all .5s;
    
}

span.weight1{
    font-size: 3em;
    color:#e6c363;
    position: absolute;
    left: 15px;
    bottom: 245px;
    opacity: 0%;
    transition: all .5s;
    
}

span.weight2{
    font-size: 3em;
    color:#e6c363;
    position: absolute;
    left: 165px;
    bottom: 245px;
    opacity: 0%;
    transition: all .5s;
    
}

span.libra{
    font-size: 5em;
    position: absolute;
    left: 50px;
    bottom: 250px;    
    transition: all .5s;
    
}

#seven:hover .libra{
    transform: scale(1.25);
    
}

#seven:hover .string {
    opacity: 100%;
    left: 23px;
    bottom: 300px;
    transform:rotate(20deg);
    transition: all .5s;
}

#seven:hover .weight1 {
    opacity: 100%;
    bottom: 260px;
    transition: all .5s;
}

#seven:hover .weight2 {
    opacity: 100%;
    bottom: 205px;
    transition: all .5s;
}



span.scorpius{
    font-size: 5em;
    position: absolute;
    left: 350px;
    bottom: 250px;     
    transition: all .5s;
    
}

span.stinger{
    font-size: 5em;
    color:#b54ea2;
    position: absolute;
    left: 360px;
    bottom: 250px;
    opacity: 0%;
    transform:rotate(-145deg);
    transition: all .5s;
    
}

span.pincher1{
    font-size: 3em;
    color:#b54ea2;
    position: absolute;
    left: 455px;
    bottom: 190px;
    opacity: 0%;
    transform: rotate(295deg);
    transition: all .5s;
    
}

span.pincher2{
    font-size: 3em;
    color:#b54ea2;
    position: absolute;
    left: 315px;
    bottom: 195px;
    opacity: 0%;
    transform: rotate(235deg);
    transition: all .5s;
    
}

#eight:hover .scorpius{
    transform: scale(1.25);
    
}

#eight:hover .stinger {
    opacity: 100%;
    left: 360px;
    bottom: 323px;
    transition: all .5s;
}

#eight:hover .pincher1 {
    opacity: 100%;
    bottom: ;
    transition: all .5s;
}

#eight:hover .pincher2 {
    opacity: 100%;
    bottom: ;
    transition: all .5s;
}



span.sagittarius{
    font-size: 5em;
    position: absolute;
    left: 650px;
    bottom: 250px;    
    transition: all .5s;
    
}

span.bow{
    font-size: 12em;
    color:#ba784c;
    position: absolute;
    left: 695px;
    bottom: 265px;
    transition: all .5s;
    opacity:0%;
    
}

span.wire{
    font-size: 3em;
    color:#ba784c;
    position: absolute;
    left: 645px;
    bottom: 245px;
    transform: rotate(90deg);
    transition: all .5s;
    opacity:0%;
    
}

#nine:hover .sagittarius{
    
    transform: scale(1.25) rotate(45deg);
    transition: all .5s;
}

#nine:hover .bow {
    opacity: 100%;
    transition: all .5s;
}

#nine:hover .wire {
    opacity: 100%;
    bottom: ;
    transition: all .5s;
    
}



span.capricorn{
    font-size: 5em;
    position: absolute;
    left: 50px;
    bottom: 50px;   
    transition: all .5s;
    
}

span.antler{
    font-size: 7em;
    color:#d1bb7d;
    position: absolute;
    left: 60px;
    bottom: 40px;
    transition: all .5s;
    opacity:0%;
    
}

span.tail{
    font-size: 10em;
    color:#4cba9f;
    position: absolute;
    left: 100px;
    bottom: 40px;
    transform: rotate(-90deg);
    transition: all .5s;
    opacity:0%;
    
}

span.fin{
    font-size: 8em;
    color:#4cba9f;
    position: absolute;
    left: 176px;
    bottom: 96px;
    transition: all .5s;
    opacity:0%;
    
}

#ten:hover .capricorn{
    transform: scale(1.25);
}

#ten:hover .antler {
    opacity: 100%;
    left: 60px;
    bottom: 100px;
    transition: all .5s;
}

#ten:hover .tail {
    opacity: 100%;
    transition: all .5s;
    
}

#ten:hover .fin {
    opacity: 100%;
    left: 174px;
    bottom: 96px;
    transform: rotate(90deg);
    transition: all .5s;
    
}



span.aquarius{
    font-size: 5em;
    position: absolute;
    left: 350px;
    bottom: 50px;    
    transition: all .5s;
    
}

span.vase{
    font-size: 7em;
    color:#d1bb7d;
    position: absolute;
    left: 460px;
    bottom: 150px;
    opacity: 0%;
    transition: all .5s;
    
}

span.water{
    font-size: 8em;
    color:#5c69f7;
    position: absolute;
    left: 360px;
    bottom: 90px;
    opacity: 0%;
    transition: all .5s;
    
}

span.puddle{
    width: 1px;
    height: 25px;
    background: #5c69f7;
    position: absolute;
    left: 400px;
    bottom: 25px; 
    border-radius: 100px / 50px; 
    transition: all .5s;
}

#eleven:hover .aquarius {
    transform: scale(1.25);
}

#eleven:hover .vase {
    transform: rotate(-120deg);
    opacity: 100%;
    transition: all .5s;
}

#eleven:hover .water {
    bottom: 75px;
    opacity: 100%;
    transition: all .5s;
}

#eleven:hover .puddle {
    width:200px;
    left: 310px;
    bottom: 5px; 
    transition: all .5s;
}



span.pisces{
    font-size: 5em;
    position: absolute;
    left: 650px;
    bottom: 50px;    
    transition: all .5s;
    
}

span.flipper1{
    font-size: 5em;
    color:#ffc9a6;
    position: absolute;
    left: 670px;
    bottom: 50px;
    transform: rotate(90deg);
    transition: all .5s;
    
}

span.flipper2{
    font-size: 5em;
    color:#ffc9a6;
    position: absolute;
    left: 670px;
    bottom: 50px;
    transform: rotate(-90deg);
    transition: all .5s;
}

#twelve:hover .pisces {
    transform: scale(1.25);
    transition: all .5s;
}

#twelve:hover .flipper1 {
    left: 740px;
    bottom: 50px;
    transition: all .5s;
}

#twelve:hover .flipper2 {
    left: 620px;
    bottom: 50px;
    transition: all .5s;
}





